* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: hsl(30, 100%, 83%);
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 100vw;
}

.blob {
  position: absolute;
  width: 50vh;
  height: 50vh;
  animation: fadein;
  animation-duration: 3s;
}
.b-0 {
  top: -5vh;
  left: -5vh;
}

.b-1 {
  bottom: -4vh;
  left: 0;
}

.b-2 {
  right: 0;
  bottom: 0;
}

.b-3 {
  left: 77vh;
  top: -5vh;
}

.b-4 {
  top: -4vh;
  left: 26vh;
}

.b-5 {
  top: 1vh;

  right: -14vh;
}

.b-6 {
  top: -3vh;
  left: 53vh;
}

.b-7 {
  bottom: 1vh;
  right: 55vh;
}

.b-8 {
  bottom: 16vh;
  right: -13vh;
}

.b-9 {
  bottom: -7vh;
  right: 36vh;
}

.b-10 {
  bottom: -3vh;
  left: 40vh;
}

.b-11 {
  bottom: 19vh;
  left: -6vh;
}

.b-12 {
  top: -7vh;
  right: 13vh;
}
